<div id="step-two-root-div">
    <app-register-timeline step="2"></app-register-timeline>
    <div id="content" class="mx-auto">
        <p class="message text-left">Merci {{prenom}} !</p>
        <p class="consigne mt-3 text-left">Un courrier contenant un lien de validation de votre inscription vous a été envoyé à l’adresse e-mail que vous avez renseigné.</p>
        <p class="consigne mt-3 text-left">Appuyez sur le lien et il vous ménera directement vers un dernier formulaire à renseigner pour finaliser votre inscription !</p>
    </div>
    <div id="div-image-mail-validation" class="p-ai-center vertical-container text-center my-6">
        <img (click)="redirect()" src="../../../assets/img/MailValidationImage.png" />
    </div>
</div>