#step-two-root-div {
    min-width: 100%;
}

p {
    width: 100%;
    font: Frutiger;
    color: #898E99;
    margin-bottom: 0px;
}

.message {
    font-size: 46px;
    font-weight: bold;
}

.consigne {
    font-size: 1.35rem;
}

#content {
    width: 60%;
    min-height: 100%;
    position: relative;
}