<div id="step-two-root-div">
    <table id="tbl-timeline" class=" mx-auto mt-6 mb-6">
        <tr>
            <td><img src="../../../assets/img/EtapeUnBackground.png" /></td>
            <td><img src="../../../assets/img/EtapeDeuxBackground.png" /></td>
            <td><img src="../../../assets/img/EtapeTroiBackground.png" /></td>
            <td><img src="../../../assets/img/EtapeUnBackground.png" /></td>
            <td><img src="../../../assets/img/EtapeQuatreBackground.png" /><label>5</label></td>
        </tr>
    </table>
    <div id="content" class="mx-auto">
        <p class="message text-left">Une dernière étape avant d’accéder à votre compte :</p>
        <p class="message text-left">choisissez votre formule !</p>
    </div>
    <div id="div-options-abonnement" class="mx-auto">
        <p-timeline [value]="timelineValues" layout="horizontal" align="top">
            <ng-template pTemplate="content" let-event>
                {{event}}
            </ng-template>
        </p-timeline>
        <div id="div-two-choices" class="text-center my-6">
            <div id="div-choice-one" class="mr-6 px-3 py-3">
                <div class="div-stars">
                    <img class="mx-1 my-2" src="../../../assets/img/DoubleEtoileAbonnement.png" />
                </div>
                <p class="p1-abonnement text-center">1 MOIS</p>
                <p class="p2-abonnement text-center">90 dhs</p>
                <p-button class="bouton-abonnement text-center" label="Je m’abonne" (click)="redirect()"></p-button>
            </div>
            <div id="div-choice-two" class="ml-6 px-3 py-3">
                <div class="div-stars">
                    <img class="mx-1 my-2" src="../../../assets/img/EtoileAbonnement.png" />
                </div>
                <p class="p1-abonnement text-center">ESSAI</p>
                <p class="p2-abonnement text-center">gratuit</p>
                <p-button class="bouton-abonnement text-center" label="J’essaye" (click)="redirect()"></p-button>
            </div>
        </div>
    </div>
</div>