.card {
    height: 26rem;
    width: 17rem;
    border-radius: 1rem;
    box-shadow: 1px 0px 20px 2px rgb(0 0 0 / 50%);
}

.gray-color {
    color: #898E99;
}

.card .content {
    line-height: 1.3;
}

.right-top-radius {
    border-radius: 0 2.625rem 0 0;
}