<div class="position-relative">
    <div class="card pt-4 p-3 overflow-hidden">
        <div class="header text-center">
            <h3 class="font-bold" [ngStyle]="{'color': primaryColor}">{{headerTitle}}</h3>
        </div>
        <div class="content pt-2 text-center">
            <p class="description">{{description}}</p>
            <div class="pt-3">
                <h3 class="priceModel " [ngStyle]="{'color': primaryColor}">{{priceModel}}</h3>
            </div>
            <ng-container *ngIf="headerTitle == 'SOUSCRIPTION'">
                <img src="assets/img/subscription-design.png" alt="Facturi Subscription Générateur de Devis et factures">
            </ng-container>
            <ng-container *ngIf="headerTitle == 'ESSAI'">
                <img src="assets/img/essai-design.png" alt="Facturi Subscription Générateur de Devis et factures">
            </ng-container>
            
            <div class="features pt-3 gray-color text-center">
                <div *ngFor="let feature of features">
                    <span>{{feature}}</span>
                </div>
            </div>
        </div>
        <div class="footer position-absolute bottom-0 left-0 w-100 text-lg text-center text-white">
            <div *ngIf="price == 0" class="flex" style="min-height:3.9rem;" [ngStyle]="{'background': secondaryColor}">
                <div class="price flex-1 py-2 right-top-radius d-flex flex-column justify-content-center align-items-center" [ngStyle]="{'background': primaryColor}" (click)="test()">Gratuit</div>
                <div class="flex-1 py-2 cursor-pointer subscribe-btn" (click)="emiClickEvent()">Essayer</div>
            </div>
            <div *ngIf="price != 0" class="flex" style="min-height:3.9rem;" [ngStyle]="{'background': secondaryColor}">
                <div class="price flex-1 py-2 right-top-radius d-flex flex-column justify-content-center align-items-center" [ngStyle]="{'background': primaryColor}">
                    <p class="m-0">{{price + ' MAD'}}</p>
                    <p class="m-0" style="font-size:0.85rem;">{{selectedMonth + ' Mois'}}</p>
                
                </div>
                <div class="flex-1 py-2 cursor-pointer subscribe-btn" (click)="emiClickEvent()">S'abonner</div>
            </div>
    
        </div>
    </div>
    <ng-container *ngIf="headerTitle == 'SOUSCRIPTION'">
        <span class="gray-color position-absolute" style="bottom:-3rem;right:0;">Choisissez la durée de votre abonnement</span>
    </ng-container>
</div>

