:host>>>.p-sortable-column-icon {
    display: none;
}

:host>>>.p-highlight .p-sortable-column-icon {
    display: block;
}

:host>>>.p-datatable .p-datatable-thead>tr>th {
    padding: 0;
    vertical-align: middle;
}

:host>>>.p-datatable .p-sortable-column .p-sortable-column-icon {
    display: inline-flex;
}

:host>>>.p-datatable .p-sortable-column .p-sortable-column-icon {
    margin-left: 0;
}

:host>>>.p-datatable .p-sortable-column-icon.pi {
    font-size: .9rem;
}

:host>>>.p-datatable .p-datatable-wrapper {
     height: 45vh !important;
     width: 100% !important;

     overflow-y: auto !important; 
     overflow-x: auto !important; 

}

:host>>>.p-paginator-bottom {
    background: transparent;
    margin-bottom: 3rem;
}

:host>>>.p-paginator-bottom .p-link {
    background: #fff !important;
    font-weight: 500 !important;
    color: #898e99 !important;
    margin-left: .2rem;
    margin-right: .2rem;
}

:host>>>.p-paginator-bottom .p-link.p-highlight {
    background: #403233 !important;
    color: #fff !important;
}

:host>>>.p-datatable-thead {
    height: 6.2vh;
}

:host>>>.pi-sort-alt:before {
    content: '\e903 \A \e902';
}

:host>>>.pi-sort-amount-up-alt:before {
    content: '\e903';
}

:host>>>.pi-sort-amount-down:before {
    content: '\e902';
}

td {
    vertical-align: middle !important;
}
/* tr:last-child{
width: 2px !important;
}  */
.width-50px{
    width:50px !important;
}
.width-100px{
    width:100px !important;
}
.width-150px{
    width:150px !important;
}
.width-200px{
    width:250px !important;
}