<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast [style]="{marginTop: 'marginTop'}" styleClass="styleClass"></p-toast>

<div class="main pt-5">
    <div class="grid  mx-0 ">
        <div class="leftSection md:col-12 p-0 positon-relative">
            <div class="pl-3">
                <div class="header flex justify-content-between align-items-start">
                    <div class="flex  flex-wrap align-items-baseline">
                        <img [src]="imageSrc" class="mr-3" />
                        <h1 class="title" [ngClass]="'color-' + primaryColor">{{title}}s</h1>
                    </div>

                    <button pButton (click)="newDevis()" class="btn-new-devis text-normal" [ngClass]="'bg-' + primaryColor" [label]="'Nouvelle ' + title"></button>

                </div>
                <p class="subtitle pt-2">Visualisez, modifiez et gérez toutes vos factures !</p>

                <span class="searchInput p-input-icon-left mt-2 shadow-1">
                    <i class="pi pi-search"></i>
                    <input pInputText [(ngModel)]="searchText"
                        (input)="emitFilterEvent('filterByInput', $event.target.value)" class=""
                        placeholder="Rechercher ici" />
                </span>

                <div class="flex align-items-center pt-4 filterContainer">
                    <p-autoComplete [(ngModel)]="selectedClient" placeholder="Client" [suggestions]="clientSuggestions" (completeMethod)="clientAutoCompleteSearch($event)" field="nom"></p-autoComplete>
                    <p-calendar [(ngModel)]="selectedDate" selectionMode="range" placeholder="Date"></p-calendar>
                    <p-inputNumber [(ngModel)]="selectedEcheance" placeholder="Echéance"></p-inputNumber>
                    <p-inputNumber [(ngModel)]="selectedMontant" placeholder="Montant" mode="decimal" [minFractionDigits]="2"></p-inputNumber>
                    <p-dropdown [options]="statutOptions" [(ngModel)]="selectedStatut" placeholder="Statut" optionLabel="label" optionValue="value" [showClear]="false"></p-dropdown>

                    <button pButton pRipple type="button" icon="pi pi-filter-slash" (click)="emitFilterEvent('filterByButton', null)" [ngClass]="'p-button-rounded ml-2 bg-' + primaryColor "></button>
                    <button pButton pRipple type="button" icon="fa fa-undo" (click)="resetFilterFields()" [ngClass]="'p-button-rounded ml-2 bg-' + primaryColor "></button>

                </div>
            </div>

            <app-table #dt1 [cols]="cols" [styleClass]="'table'" (selectionChange)="selectionChange($event)" [styleId]="'devisList'" [highlightColorInput]="tableSelectionColor" [rowDeletedEvent]="rowDeletedSubject.asObservable()" [filterEvent]="filterSubject.asObservable()"
                [getListApi$]="getListDevisApi$" [SelectItemEvent]="notifySelectedDevisChanged.asObservable()" [globalFilterFields]="['reference','client','dateEmission','echeancePaiement', 'montantTtc','statut']">
            </app-table>

            <div class="devisTotal flex justify-content-between align-items-center w-100">
                <span class="color-gray ">Total TTC</span>
                <span class="color-gray">{{montantTotalAllDevis | number:'1.2-2' }}
                    {{' ' + (selectedDevisItem && selectedDevisItem.currency)}}</span>
            </div>
        </div>

        <div class="rightSection md:col-12 p-0">
            <div class="devis-details">
                <div class="header flex justify-content-end">
                    <div class="flex">
                        <button pButton label="Télécharger" (click)="downloadAsPDF()" class="p-button-text"></button>
                        <button pButton label="Imprimer" class="p-button-text" (click)="print()"></button>
                        <button pButton label="Dupliquer" class="p-button-text" (click)="duplicateDevis()"></button>
                        <button pButton label="Modifier" class="p-button-text" (click)="editDevis()"></button>
                        <button pButton label="Supprimer" class="p-button-text" (click)="deleteDevis()"></button>
                    </div>
                </div>
                <app-item-preview #prv [item]="selectedDevisItem" [title]="title" [logoSrc]="logoSrc" [summaryTotalHT]="summaryTotalHT" [summaryTVA]="summaryTVA" [remiseAmount]="remiseAmount">
                </app-item-preview>
            </div>
        </div>
    </div>
</div>

<!-- Dialog -->
<app-factures-dialog #devisDialog [visible]="displayDialog" (openDialogEvent)="displayDialog=true" (closeDialogEvent)="onDialogClose()" (crudOperationEvent)="crudOperationTreatment($event)" [factureFormatReferenceNumber]="factureFormatReferenceNumber"
    [SelectDevisItemEvent]="notifySelectedDevisChanged.asObservable()" [dialogStatusEvent]="dialogStatusEvent.asObservable()" [template]="template">
</app-factures-dialog>