<div id="register-end-root-div" class="mx-auto">
    <div class="grid">
        <div class="col-6">
            <div id="left-content">
                <div id="left-content-texts">
                    <p id="text-one" class="text-left">Bienvenue !</p>
                    <p id="text-two" class="text-left">Vous faites désormais partie de la communauté FACTURI.</p>
                    <p id="text-three" class="text-left">Vous pouvez dès à présent générez vos factures et devis en toute tranquillité ! </p>
                </div>
                <div id="left-content-button" class=" text-center">
                    <p-button id="left-button" class="text-center mx-auto" label="Accédez à votre compte" (click)="redirect()"></p-button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div id="right-content" class="p-ai-center vertical-container">
                <p class="text-center mx-auto">Nous sommes heureux de vous compter parmi nous !</p>
                <img src="../../../assets/img/ThreeGuys.png">
            </div>
        </div>
    </div>
</div>
<img id="img-background" src="../../../assets/img/GrandMorceauxVert.png">