<div class="profile-content " [formGroup]="formGroup">
    <div class="grid">
        <div class="col-6">
            <p-fileUpload #fu name="demo" [customUpload]="true" (uploadHandler)="onUpload($event)" (onSelect)="onSelectFile($event)" [multiple]="false" iconaccept="image/*" maxFileSize="1000000" [showUploadButton]="false" [chooseLabel]="''" [cancelLabel]="''" chooseIcon="fa fa-pen"
                cancelIcon="fa fa-trash" (onClear)="clear()" styleClass="pl-3" fileUploadListener="onFileChange($event)">
                <ng-template let-file pTemplate="file" class="dragdrop-area">
                    <span class="block mb-3">Votre logo</span>
                    <img [src]="displayedImage" style="height:auto;width:auto;max-width:150px;max-height:150px;">   
                 <!-- FULL CROPPER IMPLEMENTATION
                        <div>
                            <image-cropper *ngIf="displayedImage"
                            [imageFile]="uploadedImage"
                            [maintainAspectRatio]="false"
                            [containWithinAspectRatio]="containWithinAspectRatio"
                            [aspectRatio]="1 / 2.5"
                            [resizeToWidth]="300"
                            [cropperMinWidth]="128"
                            [onlyScaleDown]="true"
                            [roundCropper]="false"
                            [canvasRotation]="canvasRotation"
                            [transform]="transform"
                            [alignImage]="'left'"
                            [style.display]="showCropper ? null : 'none'"
                            format="png"
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady($event)"
                            (loadImageFailed)="loadImageFailed()"
                        ></image-cropper> 
                    </div>
                
                -->
                </ng-template>
               
                <ng-template pTemplate="content">
                    <div *ngIf="shouldShowDefaultImage">
                        <span class="block mb-3">Votre logo</span>
                        <img src='assets/img/Bitmap.png' height="150px" width="150px">
                    </div>
                </ng-template>
            </p-fileUpload>
        </div>
        <div class="col-6">
            <app-input-group [control]="this.formGroup.get('companyName')" [labelText]="'Nom de votre entreprise (Raison Sociale)'" [placeholder]="'Entreprise'">
            </app-input-group>
            <div class="pt-5"></div>
            <app-input-group [control]="this.formGroup.get('activityArea')" [labelText]="'Secteur d’activité'" [placeholder]="'Choisissez votre secteur d’activité'">
            </app-input-group>
        </div>
    </div>
    <div class="text-right">
        <p-button label="Enregistrer" [icon]="iconSpin" (click)="save()" styleClass="bg-dark-orange border-0 mt-3" [disabled]="!formGroup.valid">
        </p-button>
    </div>

</div>

<p-confirmDialog id="cd" [baseZIndex]="10000" icon="pi pi-exclamation-triangle">
</p-confirmDialog>