#nouveauClientBlock #nouveauClient {
    float: right;
}

:host>>>#nouveauClientBlock #nouveauClient .p-button {
    width: 164px;
    height: 48px;
    background-color: #2A95D1;
}

#titreBlock {
    padding: 0 0.5rem;
}

#logoTitre {
    width: 41px;
}

#titre {
    font-size: 30px;
    color: #2A95D1;
}

#sousTitre {
    font-size: 20px;
    color: #898E99;
}

#filtreLeftBlock .content {
    float: left;
}

#filtreRightBlock .content {
    float: right;
}

:host>>>#filtreRightBlock .p-button {
    max-height: 35px;
    max-width: 110px;
    background-color: #2A95D1;
    color: white;
    border-radius: 20px;
}

:host>>>#filtreRightBlock .p-dropdown,
:host>>>#filtreRightBlock .p-autocomplete .p-autocomplete-input,
:host>>>#filtreRightBlock .p-calendar .p-inputtext,
:host>>>#filtreRightBlock .p-inputnumber-input {
    border: none;
    margin-right: 6px;
    width: 82px;
}

:host>>>#filtreRightBlock .p-inputtext,
:host>>>#filtreRightBlock .p-dropdown .p-cal,
:host>>>#filtreRightBlock .p-autocomplete .p-autocomplete-input,
:host>>>#filtreRightBlock .p-inputnumber-input {
    padding: 6px 0px 6px 6px;
    color: #7d86a9;
    font-size: 0.8rem;
    font-weight: 500;
}

:host>>>#filtreLeftBlock .p-input-icon-left {
    max-width: 323px;
    max-height: 35px;
    width: 100%;
    background-color: #F1EDED;
    border-radius: 24px;
}

:host>>>#filtreLeftBlock .p-input-icon-left>.p-inputtext {
    max-width: 323px;
    max-height: 35px;
    width: 100%;
    background-color: #F1EDED;
    border: none;
    border-radius: 24px;
}

:host>>>#filtreRightBlock .p-dropdown .p-dropdown-trigger {
    width: 1.1rem;
    padding-right: 5px;
}

:host>>>#filtreRightBlock .p-dropdown .p-dropdown-label {
    padding-top: 4px;
}


/*#########################################################*/

:host>>>#tableClients .p-datatable .p-datatable-thead>tr>th {
    font-size: 0.85rem;
    color: #2A95D1;
    padding-right: 0px;
    padding-left: 2px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

:host>>>#tableClients .p-datatable .p-datatable-scrollable-header {
    background: transparent;
}

:host>>>#tableClients .p-datatable .p-datatable-tbody>tr {
    background: transparent;
    color: #898E99;
    height: 54px;
}

:host>>>#tableClients .p-component {
    font-size: 14px;
}

:host>>>#tableClients .p-datatable .p-datatable-tbody>tr>td {
    padding: 1rem 0rem;
    text-align: center;
}

:host>>>#tableClients .p-datatable .p-datatable-tbody>tr {
    background-color: transparent;
}

:host>>>#tableClients .p-datatable .p-datatable-tbody>tr.p-highlight {
    background-color: #D1EAF8 !important;
}

:host>>>#tableClients .p-datatable-virtual-scrollable-body {
    height: calc(max(100vh, 770px) - 356px);
}

#blockApercu {
    min-height: calc(100vh - 60px);
}

.blockBody{
    position:relative;
    height:75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

:host>>>#apercu {
    width: 100%;
    min-height: 100%;
    background-color: white;
    border-radius: 12px;
    z-index: 2000;
}

#headerApercu {
    /* min-height: 17.5vh;
    max-height: 17.5vh; */
  /*   border-bottom: 1px solid #d8d8d8;
    position: relative;
    padding: 20px; */

    padding: 12px .75rem;
    border-bottom: 1px solid #d8d8d8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    z-index: 100;
    margin-top:-2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#headerApercu div {
    text-align: end;
}

:host>>>#headerApercu .p-button {
    color: #2A95D1;
    font-size: 0.9rem;
    padding: .4rem;
}

#rappelClient span {
    margin-bottom: 0px;
    font-weight: lighter;
}

#rappelClient span#nomClientApercu {
    font-size: 32px;
    color: #676767;
}

#rappelClient span#referenceClientApercu {
    font-size: 22px;
    color: #5D3D7D;
}

#rappelClient span#categorieClientApercu {
    font-size: 22px;
    color: #5D3D7D;
}

#ongletsClient p-tabView {
    margin-top: -20px;
}

:host>>>#ongletsClient .p-tabview {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
}

:host>>>.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    font-size: 15px;
    color: #676767 !important;
}

:host>>>.p-tabview .p-highlight {
    font-size: 15px;
    color: #2593D0 !important;
}

:host>>>.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.5rem 1rem;
    font-weight: 400;
}

#ongletsClient table {
    width: 100%;
}

#ongletsClient table tr {
    width: 100%;
}

#ongletsClient table tr>td:first-child {
    color: #898E99;
    font-size: 18px;
    width: 40%;
}

#ongletsClient table tr>td:last-child {
    padding-left: 30px;
    color: #000000;
    font-size: 19px;
    width: 60%;
}

:host>>>#dialogClient .p-dialog {
    border-radius: 20px;
    width: 550px;
}

:host>>>#dialogClient .p-dialog-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #2A95D1;
    color: white;
    padding: 0.5rem 1.5rem;
    text-align: center;
    justify-content: normal;
    position: relative;
}

:host>>>#dialogClient .p-dropdown-panel {
    z-index: 15000 !important;
}

:host>>>#dialogClient .p-dialog-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
}

:host>>>#dialogClient .p-dialog-footer span {
    align-self: center;
}

:host>>>#dialogClient .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: white;
}

:host>>>#dialogClient .p-dialog .p-dialog-header-icons {
    position: absolute;
    right: 0px;
}

:host>>>#dialogClient .p-dialog .p-dialog-header .p-dialog-title {
    margin-left: auto;
    margin-right: auto;
}

:host>>>#dialogClient .p-buttonset .p-button {
    width: 50%;
}

:host>>>#dialogClient .p-dialog .p-dialog-content {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

:host>>>#dialogClient .p-selectbutton .p-button {
    background-color: #E4EDF2;
    font-size: 14px;
}

:host>>>#dialogClient .p-selectbutton .p-button.p-highlight {
    background-color: #2A95D1;
}

:host>>>#buttonValider .p-button {
    width: 122px;
    height: 48px;
    background-color: #2A95D1;
}

.blockForm .title {
    font-size: 17px;
    color: #676767;
    text-transform: uppercase;
}

.blockForm div.label {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.blockForm div.label span {
    font-size: 14px;
    color: #9A9FA8;
    vertical-align: bottom;
}

.blockForm .p-inputtext {
    width: 100%;
    height: 32px;
    border-radius: 4px;
}

:host>>>.blockForm .p-inputnumber {
    width: 100%;
    height: 32px;
    border-radius: 4px;
}

:host>>>.blockForm .p-dropdown {
    width: 100%;
    height: 34px;
    border-radius: 4px;
}

:host>>>.blockForm .p-dropdown .p-dropdown-label {
    padding-top: 4px;
}

#blockLeft {
    position: relative;
}

#footerTable {
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #DDDDDD;
    margin-left: 0px !important;
    padding-left: 8px;
    background: #f4f6f9;
}

#totalTTC {
    width: 60%;
    float: left;
    font-size: 27px;
    color: #898E99;
}

#totalEnAttente {
    width: 20%;
    float: left;
    font-size: 18px;
    color: #898E99;
}

#totalPayees {
    width: 20%;
    float: left;
    font-size: 18px;
    color: #898E99;
}

:host>>>.p-tabview-panels {
    padding-left: 0px;
    padding-right: 0px;
}

:host>>>#ongletsClient #clientInfos .p-tabview-panels {
    padding-top: 40px;
}

:host>>>#ongletsClient .p-datatable .p-datatable-thead>tr>th {
    /* padding-left: 0px;
    padding-right: 0px;
    font-size: 12px; */
    color: #2A95D1;
    background-color: transparent;
}

:host>>>#ongletsClient .p-datatable tr>th,
:host>>>#ongletsClient .p-datatable tr>td {
    font-size: 0.75rem;
    padding: 1rem .25rem;
    text-align: center;
}

:host>>>#ongletsClient .p-datatable .p-datatable-footer {
    background-color: transparent;
    text-align: end;
    border: none;
}

:host>>>.rSClass.p-inputtext {
    border-color: red;
}

:host>>>.nomClass.p-inputtext {
    border-color: red;
}

:host>>>.p-toast {
    z-index: 11001 !important;
}

#noRecordsFactures {
    height: 100%;
}

#noRecordsFactures div {
    margin-top: 25%;
    width: 70%;
    position: relative;
}

#noRecordsFactures p {
    width: 100%;
    text-align: center;
    margin: 15px;
    color: #5D3D7D;
}

#noRecordsFactures img {
    text-align: center;
    margin: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#blockLeft {
    width: 56%;
    padding-right: .8rem;
}

#blockApercu {
    width: 44%;
    padding-left: 0;
}

.header-shadow{
    background-color: #f0f1ff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
 