<div class="px-3">
    <h4>Objectif du mois</h4>
    <div class="grid pt-2">
        <div class="col-8">
            <p-inplace #inplace [closable]="false" closeIcon="pi pi-check" class="block">
                <ng-template pTemplate="display">
                    <p-button [label]="monthTargetAmount + ' ' + currency" icon="pi pi-chevron-down" iconPos="right" class="light-gray-bg"></p-button>
                </ng-template>
                <ng-template pTemplate="content">
                    <!-- <input type="text" [(ngModel)]="newMonthTargetAmount" pInputText> -->
                    <p-inputNumber [(ngModel)]="newMonthTargetAmount" mode="decimal" [minFractionDigits]="2" placeholder="">
                    </p-inputNumber>
                    <button pButton pRipple type="button" class="ml-3" label="Enregistrer" (click)="createOrUpdateMonthTargetAmount()"></button>
                </ng-template>
            </p-inplace>

            <div class="grid pt-3 text-2xl ">
                <div class="col-6 color-dashboard">
                    <span class="block">ACCOMPLI</span>
                    <span>{{accomplishedAmount | number:'1.0-0' }} {{currency}}</span>
                </div>
                <div class="col-6 color-yellow" *ngIf="monthTargetAmount - accomplishedAmount >= 0">
                    <span class="block">RESTANT</span>
                    <span>{{ monthTargetAmount - accomplishedAmount | number:'1.0-0' }} {{currency}}</span>
                </div>
                <div class="col-6 color-yellow" *ngIf="monthTargetAmount - accomplishedAmount < 0">
                    <span class="block">RESTANT</span>
                    <span> 0 {{currency}}</span>
                </div>
            </div>
        </div>
        <div class="col-4 relativeParent">
            <div class="customValueTooltip d-flex justify-content-center align-items-center">
                <span class="inline-block">{{progressRate | number:'1.0-0'}}<span class="color-dashboard">%</span></span>
            </div>
          
            <div id="slider1" >
              
            </div>
        </div>
    </div>

</div>