    .color-dashboard {
        color: #5CBCA6;
    }
    
    .color-yellow {
        color: #F8B849;
    }
    
     :host>>>.p-button {
        background-color: #EFF3FB !important;
        color: #4D4D4D;
        border: none;
        font-weight: 600;
    }
    
     :host>>>.p-inplace-display {
        padding: 0;
    }
    /* Not applied */
    
    .rs-tooltip-extra {
        font-size: 2rem;
        transform: translate(-50%, -50%);
        line-height: 2.5rem;
        top: 43%;
        margin-top: 0;
        margin-left: 0;
    }
    /*  */
    
    #slider1 {
        margin-top: -0.75rem;
    }
    .relativeParent {
        position:relative;
    }

    .customValueTooltip{
        position: absolute;
        top:-32px;bottom:0;left:0;right:25px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .customValueTooltip span{
        display:inline-block;
        font-size : 1.75rem;
        font-weight:700;
        line-height : 1.5rem;
        margin:auto;
    }