.wrapper {
    width: 55%;
}

.pruple-color {
    color: #4A266B;
}

.gray-color {
    color: #898E99;
}

:host>>>.p-slider.p-slider-vertical {
    width: 1.25rem;
    height: 24.5rem;
    border-radius: 1rem;
    background: #79BBE1;
}

.sliderValueContainer {
    height: 24.5rem;
    margin-top: 0.7rem;
}

:host>>>.p-slider-range {
    border-radius: 1rem;
}

:host>>>.p-slider-vertical .p-slider-handle {
    left: 15%;
    width: 2rem;
    height: 2rem;
    background: #2196F3;
}

.color-blue {
    color: #2196F3;
}