<div>
    <app-register-timeline step="3"></app-register-timeline>

    <div class="wrapper mx-auto">
        <div class="text-center mx-auto text-4xl gray-color">
            <span class="block">Une dernière étape avant d’accéder à votre compte :</span>
            <span class="block">choisissez votre formule</span>
        </div>
        <div class="flex justify-content-center pt-5">
            <app-subscription-card [headerTitle]="'ESSAI'" [description]="'Testez l\'ensemble des fonctionnalités de FACTURI gratuitement et sans engagement'" [priceModel]="'GRATUIT'" [price]="0" [primaryColor]="'#58BBA4'" [secondaryColor]="'#337062'" [features]="['10 Clients', '10 Products ou Services', '5 Devis', '5 Factures']"
                (clickEmit)="submit()">
            </app-subscription-card>

            <div class="mx-4"></div>

            <app-subscription-card [headerTitle]="'SOUSCRIPTION'" [description]="'Accédez à l\'ensemble des fonctionnalités de FACTURI de manière illimitée pour un tarif défiant toute concurence'" [priceModel]="'90 MAD par mois'" [price]="selectedMonth * 90" [primaryColor]="'#9470B5'"
                [secondaryColor]="'#4A266B'" [features]="['Clients illimités', 'Products et Services illimitées', 'Devis illimités', 'Factures illimitées']" (clickEmit)="submit()">
            </app-subscription-card>

            <div class="mx-3"></div>
            <p-slider [(ngModel)]="selectedMonth" [min]="1" [max]="12" [orientation]="'vertical'" (onChange)="changeSlider($event)"></p-slider>
            <div class="sliderValueContainer position-relative ml-3 text-center">
                <span class="sliderValue color-blue position-absolute font-bold w-5rem" [ngStyle]="{'bottom': handlePosition}">
                    Tarif pour {{selectedMonth}}
                    <span>Mois</span>
                </span>
            </div>
        </div>
        <div class="block font-bold text-right">
            <span>Choisissez la durée de votre abonnement</span>
            <!-- <img src="assets/img/payment-slider-arrow.jpg" alt=""> -->
        </div>


    </div>
</div>