.wrapper {
    width: 55%;
}

.pruple-color {
    color: #4A266B;
}

.gray-color {
    color: #898E99;
}

:host>>>.p-slider.p-slider-vertical {
    margin-top:0.5rem;
    width: 1.5rem;
    height: 33.5rem;
    border-radius: 1rem;
    background: #79BBE1;
}

.sliderValueContainer {
  /*   height: 34.5rem; */
    margin-top: 0.7rem;
}

:host>>>.p-slider-range {
    border-radius: 1rem;
}

:host>>>.p-slider-vertical .p-slider-handle {
    left: 15%;
    width: 2.5rem;
    height: 2.5rem;
    /* background: #2196F3; */
    background: url('https://facturi.ma/wp-content/uploads/2022/07/range_slider.png');
    background-size: contain;
    border: 0 !important;
    cursor: pointer;
}

.color-blue {
    color: #2196F3;
}

::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
   /* Green background */
     /* Cursor on hover */
   
  }

  .sliderValue {
    left:15px;
  }