#div-account-home {
    min-height: 100vh;
}
#div-account-home > div {
    min-height: 100vh;
}
img#account-logo-facturi {
    width: 273px;
}
.vertical-container {
    height: 100%;
}
.account-header-links {
    font-style: Frutiger;
    font-size: 15px;
    color: #1d2433;
    letter-spacing: 0.14285714721679688em;
    line-height: 0;
    opacity: 60%;
}
.account-header-links.is-actif {
    opacity: 100% !important;
}
#div-home-left-content {
    width: 90%;
    max-width: 700px;
}
#left-text-one {
    font-size: 51px;
    color: #1D2433;
    opacity: 50%;
}
#left-text-two {
    font-size: 34px;
    color: #1D2433;
    opacity: 50%;
}
:host >>> #div-home-left-content button {
    width: 280px;
    height: 83px;
    border-radius: 20px;
    color: white;    
    margin-left: auto !important;
    margin-right: auto !important;
    border: none;
}
:host >>> #p-button-souscrire button {
    background-color: #4A266B;
}
:host >>> #p-button-essai-gratuit button {
    background-color: #9470B5;
}
:host >>> #p-button-souscrire button:hover {
    background-color: #5f2b91;
}
:host >>> #p-button-essai-gratuit button:hover {
    background-color: #a977d8;
}
:host >>> input#input-nom-utilisateur, input#input-mot-de-passe {
    max-width: 196px;
    width: 100%;
    background-color: #367062;
    border: 1px solid #367062;
    height: 37px;
    color: white;
}
.p-float-label label {
    color: #f5f9ff;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: normal;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
:host >>> #account-header-button button{
    width: 137px;
    height: 37px;
    background-color: #58BBA4;
    border: none;

    font-style: Avenir-Heavy;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0em;
    line-height: 0;
}
:host >>> #account-header-button button:hover{
    background-color: #008a6a;
}
#div-authentication {
    min-height: 100%;
    background-image: url("../../assets/img/GuyWithLaptop.png");
    background-size: cover;
}
@media (min-width: 1700px) {
    #div-home-left-content {
        padding-top: 5%;
    }
    #left-text-one {
        margin-bottom: 5% !important;
    }
    #left-text-two {
        margin-bottom: 5% !important;
    }
}