<div id="div-account-home">
  <div class="grid mx-0 mt-0">
    <div class="col-7">
      <div class="grid  mt-3">
        <div class="col-5 text-center"><img id="account-logo-facturi" alt="Logo Facturi"
            src="../../assets/img/LogoFacturi.png"></div>
        <div class="col-7  pb-0">
          <div class="grid align-content-end vertical-container pb-0">
            <div class="col-4 text-center pb-0"><a class="account-header-links is-actif" align="center"
                href="/account/home">BIENVENUE</a></div>
            <div class="col-4 text-center pb-0"><a class="account-header-links" href="/account/home">FACTURI ?</a></div>
            <div class="col-4 text-center pb-0"><a class="account-header-links" href="/account/home">CONTACT</a></div>
          </div>
        </div>
      </div>
      <div id="div-home-left-content" class="grid mx-auto mt-4">
        <div class="col-12">
          <p id="left-text-one" class="text-left mb-0">La plateforme destinée aux auto-entrepreneurs et micro-entreprises.</p>
        </div>
        <div class="col-12">
          <p id="left-text-two" class="text-left mb-0">Gérez vos factures et vos devis et pilotez votre activité de manière simple
            et professionnelle !</p>
        </div>
        <div class="col-6 text-center">
          <p-button id="p-button-souscrire" class=" mx-auto" label="SOUSCRIRE" (click)="souscrire()"></p-button>
        </div>
        <div class="col-6 text-center">
          <p-button id="p-button-essai-gratuit" class=" mx-auto" label="ESSAI GRATUIT" (click)="essaiGratuit()"></p-button>
        </div>
      </div>
    </div>
    <div id="div-authentication" class="col-5 mt-0 pt-3 ">
      <div class="grid">
        <div class="col-4 text-center mt-3">
          <span class="p-float-label">
            <input id="input-nom-utilisateur" type="text" pInputText
              name="userNameOrEmailAddress"
              [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"> 
            <label for="input-nom-utilisateur text-center">Nom d’utilisateur</label>
          </span>
        </div>
        <div class="col-4 text-center mt-3">
          <span class="p-float-label">
            <input id="input-mot-de-passe" type="password" pInputText
              name="password"
              [(ngModel)]="authService.authenticateModel.password"> 
            <label for="input-mot-de-passe">Mot de passe</label>
          </span>
        </div>
        <div class="col-4 text-center mt-3">
          <p-button id="account-header-button" label="Se connecter" (click)="login()"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>