<!-- <div class="grid"> -->
    <!-- <div class="col-6"> -->
        <div class="grid">
            <div class="offset-1 col-2"><img id="account-logo-facturi" alt="Logo Facturi" src="../../assets/img/LogoFacturi.png"></div>
            <div class="col-7">
                <div class="grid align-content-end vertical-container mt-0">
                  <div class="col-4 text-center"><a class="account-header-links is-actif" align="center" href="/account/home">BIENVENUE</a></div>
                  <div class="col-4 text-center"><a class="account-header-links" href="/account/home">FACTURI ?</a></div>
                  <div class="col-4 text-center"><a class="account-header-links" href="/account/home">CONTACT</a></div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <!-- <div class="col-6">
        <div class="grid mt-3">
            <div class="offset-3 col-3 text-center">
                <span class="p-float-label">
                    <input id="input-nom-utilisateur" type="text"  pInputText
                        name="userNameOrEmailAddress"
                        [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"> 
                    <label for="input-nom-utilisateur text-center">Nom d’utilisateur</label>
                </span>
            </div>
            <div class="col-3 text-center">
                <span class="p-float-label">
                    <input id="input-mot-de-passe" type="password" pInputText
                        name="password"
                        [(ngModel)]="authService.authenticateModel.password"> 
                    <label for="input-mot-de-passe">Mot de passe</label>
                </span>
            </div>
            <div class="col-3 text-center">
                <p-button id="btn-seConnecter" label="Se connecter" styleClass="p-button-link" (click)="login()"></p-button>
            </div>
        </div>

    </div> -->
<!-- </div> -->
