#account-logo-facturi {
    width: 100%;
}
.vertical-container {
    height: 100%;
}
.account-header-links {
    font-style: Frutiger;
    font-size: 15px;
    color: #1d2433;
    letter-spacing: 0.14285714721679688em;
    line-height: 0;
    opacity: 60%;
}
.account-header-links.is-actif {
    opacity: 100% !important;
}
:host >>> input#input-nom-utilisateur, input#input-mot-de-passe {
    max-width: 196px;
    width: 100%;
    background-color: #367062;
    border: 1px solid #367062;
    height: 37px;
    color: white;
}
.p-float-label label {
    color: #f5f9ff;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: normal;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
:host >>> #btn-seConnecter button {
    font-size: 18px;
    color: #7BC8B9; 
}