#loginContent {
    width: 70%;
    max-width: 700px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    min-height: 500px;
} 
#header-se-connecter {
    width: 100%;
    padding: 15px 0px;
    margin: 0px;
    border-bottom: 4px solid #EBA20C;
}
#header-se-connecter span {
    margin-bottom: 0px;
    color: black;
    font-size: 18px;
    font-family: Poppins;
    font-weight: bold;
    font-family: revert;
}
#body-se-connecter {
    width: 56%;
    max-width: 600px;
}
.input-block {
    width: 100%;
    margin-top: 20px;
}
.input-block label{
    width: 100%;
    margin-left: 15px;
    margin-bottom: 3px;
    color: black;
    font-size: 18px;
    font-family: revert;
    font-weight: bold;
    text-align: left !important;
}
.input-block input{
    width: 100%;
    border: 3px solid #4A266B;
    border-radius: 8px;
    height: 60px;
}
#div-forgot-mdp {
    width: 100%;
}
:host >>> #div-forgot-mdp .p-button {
    padding-top: 0px;
    color: #9A9AB0;
    font-size: 14px;
    font-family: revert;
    font-weight: bold;
}
.div-buttons {
    width: 100%;
    padding: 20px 0px;
}
.div-buttons > p#ou {
    width: 100%;
    font-size: 14px;
    color: #9A9AB0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
:host >>> .div-buttons .p-button {
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: revert;
    font-weight: bold;
    border-radius: 8px;
}
:host >>> #btn-se-connecter .p-button {
    background-color: #58BBA4;
    justify-content: center;
}
:host >>> #btn-google .p-button .p-button-label {
    display: none;
    background-color: #4385F5;
}
#sendMailArea {
    position: relative;
    width: 100%;
    height: 100%;
}
.return-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #707070;
}
.logo-facturi {
    width: 180px;
    padding: 10px;
}
#send-mail-content {
    width: 56%;
    max-width: 600px;
    margin-top: 15px;
}
.title {
    color: black;
    font-size: 29px;
    font-family: revert;
    font-weight: bold;
    margin-left: -30px;
    margin-right: -30px;
}
.text {
    color: #9A9AB0;
    font-size: 15px; 
    font-family: revert;
    margin-left: -30px;
    margin-right: -30px;
}
#mailSentArea {
    position: relative;
    width: 100%;
    height: 100%;
}
#mail-sent-content {
    width: 56%;
    max-width: 600px;
    margin-top: 100px;
}
#resetPassArea {
    position: relative;
    width: 100%;
    height: 100%;
}
#reinit-pass-content {
    width: 56%;
    max-width: 600px;
    margin-top: 50px;
}