#loginContent {
    width: 42%;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
}

#header-se-connecter {
    width: 100%;
    padding: 15px 0px;
    margin: 0px;
    border-bottom: 4px solid #EBA20C;
}

#header-se-connecter span {
    margin-bottom: 0px;
    color: black;
    font-size: 18px;
    font-family: Poppins;
    font-weight: bold;
    font-family: revert;
}

#body-se-connecter {}

.input-block {
    width: 100%;
}

.input-block label {
    width: 100%;
    margin-bottom: 3px;
    font-size: 18px;
    font-family: revert;
    font-weight: 500;
    text-align: left !important;
}

.input-block input {
    width: 100%;
    border-radius: 8px;
    padding-top: .65rem !important;
    padding-bottom: .65rem !important;
}
#input-mdp{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.p-inputgroup-addon{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.div-buttons {
    width: 100%;
}

.div-buttons>p#ou {
    width: 100%;
    font-size: 14px;
    color: #9A9AB0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

:host>>>.div-buttons .p-button {
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: revert;
    font-weight: bold;
    border-radius: 8px;
}

:host>>>#btn-se-connecter .p-button {
    border-radius: 1.25rem;
    justify-content: center;
}

:host>>>#btn-google .p-button .p-button-label {
    display: none;
    background-color: #4385F5;
}

#sendMailArea {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #707070;
}

.logo-facturi {
    width: 180px;
    padding: 10px;
}

#send-mail-content {
    width: 56%;
  /*   max-width: 600px; */
    margin-top: 15px;
}

.title {
    color: black;
    font-size: 29px;
    font-family: revert;
    font-weight: bold;
}

.text {
    color: #9A9AB0;
    font-size: 15px;
    font-family: revert;
}

#mailSentArea {
    position: relative;
    width: 100%;
    height: 100%;
}

#mail-sent-content {
    width: 56%;
  /*   max-width: 600px; */
    margin-top: 100px;
}

#resetPassArea {
    position: relative;
    width: 100%;
    height: 100%;
}

#reinit-pass-content {
    width: 56%;
   /*  max-width: 600px; */
    margin-top: 50px;
}

.bg-header {
    background-color: #58BBA4;
    width:100%;
}

.login-gray-color {
    color: #898E99;
}

.p-inputtext {
    border: solid 1px #898E99 !important;
}

.btn-ripple:hover{
    color:var(--light-purple-color) !important;
}

.validationMessage {
    padding-left:30px;
    padding-right:30px;
    text-align:left;
    font-size: 15px;
    color: tomato;
    display: block;
}