<p-dialog #dlg id="dialogClient" header="{{titreFormulaire}}" [(visible)]="display" [modal]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="emitHideDialogEvent.emit()">

    <p-selectButton [options]="categories2" [(ngModel)]="formClient && formClient.categorieClient" optionLabel="name" optionValue="code" (click)="onFormCategorySelected()">
    </p-selectButton>

    <div class="grid blockForm mx-3 mt-4 mb-2">
        <div class="col-12">
            <span class="title">PROFIL</span>
        </div>
        <div class="col-5 label" *ngIf="isFormProfetionnel">
            <span>Secteur d’activité</span>
        </div>
        <div class="col-7" *ngIf="isFormProfetionnel">
            <input type="text" class="w-100" pInputText placeholder="" [(ngModel)]="formClient && formClient.secteurActivite" />
        </div>
        <div class="col-5 label" *ngIf="isFormProfetionnel">
            <span>ICE</span>
        </div>
        <div class="col-7" *ngIf="isFormProfetionnel">
            <input type="text" class="w-100" pInputText placeholder="" pKeyFilter="pint" [(ngModel)]="formClient && formClient.ice" />
        </div>
        <div class="col-5 label" *ngIf="!isFormProfetionnel">
            <span>Nom <span class="red-color">*</span></span>
        </div>
        <div class="col-7" *ngIf="!isFormProfetionnel">
            <input type="text" pInputText placeholder="" class="w-100 {{nomClass}}" [(ngModel)]="formClient && formClient.nom" />
        </div>
    </div>

    <div class="grid blockForm mx-3 mt-4 mb-2">
        <div class="col-12">
            <span class="title">Coordonnées</span>
        </div>
        <div class="col-5 label" *ngIf="isFormProfetionnel">
            <span>Raison sociale <span class="red-color">*</span></span>
        </div>
        <div class="col-7" *ngIf="isFormProfetionnel">
            <input type="text" pInputText placeholder="" class="w-100 {{rSClass}}" [(ngModel)]="formClient && formClient.raisonSociale" maxlength="30"/>
        </div>
        <div class="col-5 label">
            <span>Adresse</span>
        </div>
        <div class="col-7">
            <input type="text" class="w-100" pInputText placeholder="" [(ngModel)]="formClient && formClient.adresse" maxlength="100"/>
        </div>
        <div class="col-5 label">
            <span>Pays</span>
        </div>
        <div class="col-7">
            <p-dropdown class="w-100" [options]="countries" [(ngModel)]="formClient && formClient.pays" optionLabel="paysName" optionValue="paysName" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
        </div>
        <div class="col-5 label">
            <span>Ville</span>
        </div>
        <div class="col-7">
            <input type="text" class="w-100" pInputText placeholder="" [(ngModel)]="formClient && formClient.ville" maxlength="40"/>
        </div>
        <div class="col-5 label">
            <span>Code postal</span>
        </div>
        <div class="col-7">
            <input type="text" class="w-100" pInputText placeholder="" pKeyFilter="pint" [(ngModel)]="formClient && formClient.codePostal" maxlength="8"/>
        </div>
        <div class="col-5 label">
            <span>E-mail</span>
        </div>
        <div class="col-7">
            <input type="text" class="w-100" pInputText placeholder="" pKeyFilter="email" [(ngModel)]="formClient && formClient.email" maxlength="60"/>
        </div>
        <div class="col-5 label">
            <span>Téléphone fixe</span>
        </div>
        <div class="col-7">
            <input type="text" class="w-100" pInputText placeholder="" pKeyFilter="pint" [(ngModel)]="formClient && formClient.telFix" maxlength="25"/>
        </div>
        <div class="col-5 label">
            <span>Téléphone portable</span>
        </div>
        <div class="col-7">
            <input type="text" class="w-100" pInputText placeholder="" pKeyFilter="pint" [(ngModel)]="formClient && formClient.telPortable" maxlength="25"/>
        </div>
        <div class="col-5 label" *ngIf="isFormProfetionnel">
            <span>Site Web</span>
        </div>
        <div class="col-7" *ngIf="isFormProfetionnel">
            <input type="text" class="w-100" pInputText placeholder="" [(ngModel)]="formClient && formClient.siteWeb" maxlength="40"/>
        </div>
    </div>


    <div class="grid blockForm mx-3 mt-4 mb-2">
        <div class="col-12">
            <span class="title">MODALITÉS DE FACTURATION</span>
        </div>
        <div class="col-5 label">
            <span>Devise de facturation</span>
        </div>
        <div class="col-7">
            <p-dropdown [options]="devises" [(ngModel)]="formClient && formClient.deviseFacturation">
            </p-dropdown>
        </div>
        <div class="col-5 label">
            <span>Remise permanente</span>
        </div>
        <div class="col-7">
            <p-inputNumber placeholder="" mode="decimal" suffix="%" :min="0" :max="100" [minFractionDigits]="2" [maxFractionDigits]="2" [(ngModel)]="formClient && formClient.remisePermanente"></p-inputNumber>
        </div>
        <div class="col-5 label">
            <span>Délai de paiement</span>
        </div>
        <div class="col-7">
            <p-dropdown [options]="delaiPaiementOptions" [(ngModel)]="formClient && formClient.delaiPaiement" [appendTo]="dlg" [showClear]="false">
                <ng-template pTemplate="selectedItem" let-option>
                    <div>
                        {{formClient && formClient.delaiPaiement}} jours
                    </div>
                </ng-template>
                <ng-template pTemplate="item" let-option>
                    {{option}} jours
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <span><span class="red-color">*</span> Champ(s) obligatoire(s)</span>
        <p-button id="buttonValider" (click)="valider()" label="Valider"></p-button>
    </ng-template>
</p-dialog>