<div class="px-2">
    <h4>Evolution du mois</h4>
    <div class="grid">
        <div class="col-6">
            <div class="">
                <h5 class="title">Facture</h5>
                <div class="flex align-items-center">
                    <img src="assets/img/total-statistics-invoice.png" alt="" class="mt-2 mr-3">
                    <span class="evolution-number text-2xl font-semibold "> + {{12000.50 | number:'1.2-2' }} {{'MAD'}}</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="">
                <h5 class="title">Devis</h5>
                <div class="flex align-items-center">
                    <img src="assets/img/total-statistics-estimate.png" alt="" class="mt-2 mr-3">
                    <span class="evolution-number text-2xl font-semibold "> + {{12000.50 | number:'1.2-2' }} {{'MAD'}}</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="">
                <h5 class="title">Clients</h5>
                <div class="flex align-items-center">
                    <img src="assets/img/total-statistics-client.png" alt="" class="mt-2 mr-3">
                    <span class="evolution-number text-2xl font-semibold "> + {{43}} Nouveaux</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="">
                <h5 class="title">Produits</h5>
                <div class="flex align-items-center">
                    <img src="assets/img/total-statistics-product.png" alt="" class="mt-2 mr-3">
                    <span class="evolution-number text-2xl font-semibold "> + {{80}} Nouveaux</span>
                </div>
            </div>
        </div>
    </div>
</div>