<div #container>
    <div class="custom-dialog-header">
        <span class="custom-dialog-title">Paiement Facture {{this.config.data.factureRef}}</span>
        <div class="p-dialog-header-icons">
            <button type="button" (click)="closeDialog()" class="p-dialog-header-icon p-dialog-header-maximize p-link ">
                <span class="p-dialog-header-close-icon pi pi-times ng-tns-c139-15"></span>
            </button>
        </div>
    </div>
    <p-tabView>
        <p-tabPanel header="Ajouter un paiement" *ngIf="this.config.data.tabPanelShowMode == 'both' || this.config.data.tabPanelShowMode == 'addPayement'">
            <form [formGroup]="formGroup" class="mt-1">
                <div *ngIf="this.config.data.status == 2 || this.config.data.status == 4" class="flex justify-content-center align-items-center ">
                    <span class="mr-1 text-xl font-bold text-black">Reste à payer:</span>
                    <span class="ml-1 text-3xl font-bold color-orange">{{this.config.data.restAmount | number:'1.2-2' }}
                        {{currency | uppercase}}</span>
                </div>
                <div class="flex justify-content-between mt-4 align-items-center">
                
                    <p-inputNumber formControlName="id" hidden>
                    </p-inputNumber>
                </div>
                <div class="flex justify-content-between mt-4 align-items-center">
                    <span>Montant</span>
                    <p-inputNumber formControlName="montant" mode="decimal" [minFractionDigits]="2" placeholder="">
                    </p-inputNumber>
                </div>
                <div class="flex justify-content-between mt-3 align-items-center">
                    <span>Date de paiement</span>
                    <p-calendar formControlName="datePaiement" [appendTo]="container" dateFormat="dd/mm/yy" (onSelect)="selectDate($event)"></p-calendar>
                </div>
                <div class="flex justify-content-between mt-3 align-items-center">
                    <span>Mode de paiement</span>
                    <p-dropdown formControlName="modePaiement" [appendTo]="container" [options]="payementOptions" optionLabel="label" optionValue="value"></p-dropdown>
                </div>
                <div class="flex mt-4">
                    <a pButton pRipple (click)="closeDialogAndGetValue()" class="ml-auto ">Términer</a>
                </div>

            </form>
        </p-tabPanel>
        <p-tabPanel header="Tous les paiements" *ngIf="this.config.data.tabPanelShowMode == 'both' || this.config.data.tabPanelShowMode == 'historic'">
            <app-payment-history [factureId]="this.config.data.factureId" [currency]="currency"></app-payment-history>

        </p-tabPanel>
    </p-tabView>
</div>