<div class="profile-content " [formGroup]="formGroup">
    <p-selectButton [options]="annotationOptions" formControlName="selectedType" (onChange)="changeProfileContainerTitle()" class="uppercase">
    </p-selectButton>
    <div class="grid pt-5">
        <ng-container *ngIf="this.formGroup.get('selectedType').value == 'Devis'; else elseTemplate">
            <div class="col-6">
                <app-textarea-group [control]="this.formGroup.get('estimateIntroMessage')" [labelText]="'Message d’introduction'" [placeholder]="''">
                </app-textarea-group>
            </div>

            <div class="col-6">
                <app-textarea-group [control]="this.formGroup.get('estimateFooter')" [labelText]="'Pied de page'" [placeholder]="''">
                </app-textarea-group>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div class="col-6">
                <app-textarea-group [control]="this.formGroup.get('invoiceIntroMessage')" [labelText]="'Message d’introduction'" [placeholder]="''">
                </app-textarea-group>
            </div>

            <div class="col-6">
                <app-textarea-group [control]="this.formGroup.get('invoiceFooter')" [labelText]="'Pied de page'" [placeholder]="''">
                </app-textarea-group>
            </div>
        </ng-template>


    </div>
    <div class="text-right">
        <p-button label="Enregistrer" [icon]="iconSpin" (click)="save()" styleClass="bg-dark-orange border-0 mt-3" [disabled]="!formGroup.valid">
        </p-button>
    </div>

</div>