:host>>>.p-button {
    border: none;
}

.main {
    padding-right: .8rem;
    background: #f1f6ff;
    min-height: 100vh;
}

.header {
    padding-right: 1.5rem;
}

.header h1 {
    font-size: 1.875rem;
}

.btn-new-devis {
    height: 48px;
}

.subtitle {
    font-size: 1.25rem;
    color: #898e99;
}

:host>>>.searchInput.p-input-icon-left {
    max-width: 216px;
    max-height: 35px;
    width: 100%;
    background-color: #F1EDED;
    border-radius: 24px;
}

:host>>>.searchInput.p-input-icon-left>.p-inputtext {
    max-height: 35px;
    width: 100%;
    background-color: #F1EDED;
    border: none;
    border-radius: 24px;
}

i.pi-search {
    font-weight: 800;
}

.searchInput,
i.pi-search {
    font-size: 1rem;
}

:host>>>.filterContainer .p-dropdown,
:host>>>.filterContainer .p-autocomplete .p-autocomplete-input,
:host>>>.filterContainer .p-calendar .p-inputtext,
:host>>>.filterContainer .p-inputnumber-input {
    border: none;
    margin-right: 6px;
    width: 82px;
}

:host>>>.filterContainer .p-inputtext,
:host>>>.filterContainer .p-dropdown .p-cal,
:host>>>.filterContainer .p-autocomplete .p-autocomplete-input,
:host>>>.filterContainer .p-inputnumber-input {
    padding: 6px 0px 6px 6px;
    color: #7d86a9;
    font-size: 0.8rem;
    font-weight: 500;
}

:host>>>.filterContainer .p-dropdown .pi-chevron-down {
    font-size: 0.75rem;
}

.filterBtn {
    max-height: 35px;
    font-size: 1rem;
    padding: 0.5rem .8rem;
}

:host>>>.filterBtn .pi-filter {
    font-size: 0.85rem;
}

:host ::ng-deep #devisList .p-datatable {
    margin-top: 1rem;
    padding-right: .5rem;
}

:host>>>#devisList .p-datatable .p-datatable-tbody>tr {
    background: transparent;
}

:host>>>#devisList .p-datatable .p-datatable-thead>tr>th {
    font-size: 0.85rem;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

:host ::ng-deep #devisList .p-datatable .p-datatable-thead>tr>th,
:host ::ng-deep #devisList .p-datatable .p-datatable-scrollable-header {
    background: transparent;
    color: var(--purple-color);
}

:host ::ng-deep #devisList .p-datatable .p-datatable-tbody>tr>td {
    font-size: 0.85rem;
    color: #898e99;
    text-align: center;
    padding: .8rem .1rem;
}


/* List details footer */

.devisTotal {
    position: absolute;
    bottom: 0rem;
    min-height: 3.2rem;
    padding-left: 1.5rem;
    padding-right: 20%;
    border-top: 1px solid var(--light-gray-color);
}

.devisTotal :nth-child(1) {
    font-size: 1.42rem;
}

.devisTotal :nth-child(2) {
    font-size: 0.95rem;
}


/* Devis details */

.devis-details {
    background-color: #faf9f9;
    /* min-height: 782px; */
    min-height: max(calc(100vh - 60px), 710px);
    margin-bottom: 0.7rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 50%);
}

.devis-details .header {
    padding: 20px 20px;
    border-bottom: 1px solid #d8d8d8;
}

.devis-details .header .p-button-text {
    font-size: 0.85rem;
    padding: 3px;
    color: var(--purple-color);
}

:host ::ng-deep .devis-details .p-datatable {
    margin-top: .6rem;
}

.leftSection {
    width: 56%;
}

.rightSection {
    width: 44%;
}

.lineHeight-18 {
    line-height: 2rem;
}

.devis-details .content .grid {
    font-size: 1.25rem;
}

.devis-details .content .grid .col-7 {
    color: #898e99;
    padding-top: 0;
    padding-bottom: 8px;
}

.devis-details .content .grid .col-5 {
    padding-top: 0;
    padding-bottom: 8px;
}

:host>>>#dialogCatalogue .p-dialog {
    border-radius: 20px;
    width: 460px;
    height: 475px;
}

:host>>>#dialogCatalogue .p-dialog-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--purple-color);
    color: white;
    padding: 0.5rem 1.5rem;
    text-align: center;
    justify-content: normal;
    position: relative;
}

:host>>>#dialogCatalogue .p-dialog-footer {
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

:host>>>#dialogCatalogue .p-dialog-footer span {
    align-self: center;
}

:host>>>#dialogCatalogue .p-dialog .p-dialog-header .p-dialog-header-icon {
    color: white;
}

:host>>>#dialogCatalogue .p-dialog .p-dialog-header-icons {
    position: absolute;
    right: 0px;
}

:host>>>#dialogCatalogue .p-dialog .p-dialog-header .p-dialog-title {
    margin-left: auto;
    margin-right: auto;
}

:host>>>#dialogCatalogue .p-buttonset .p-button {
    width: 50%;
}

:host>>>#dialogCatalogue .p-dialog .p-dialog-content {
    padding: 1.25rem 1.5rem;
    overflow: visible;
}

:host>>>#dialogCatalogue .p-selectbutton .p-button {
    background-color: #E4EDF2;
    font-size: 14px;
}

:host>>>#dialogCatalogue .p-selectbutton .p-button.p-highlight {
    background-color: var(--purple-color);
}

:host>>>#buttonValider .p-button {
    width: 122px;
    height: 44px;
    background-color: var(--purple-color);
}

.blockForm .title {
    font-size: 17px;
    color: #676767;
    text-transform: uppercase;
}

.blockForm div {
    padding-bottom: 2px;
}

.blockForm div.label {
    margin: auto
}

.blockForm div.label span {
    font-size: 14px;
    color: #9A9FA8;
    vertical-align: bottom;
}

.blockForm div.label span span {
    color: red;
}

.blockForm .p-inputtext {
    width: 100%;
    height: 32px;
    border-radius: 4px;
}

:host>>>.blockForm .p-inputnumber {
    width: 100%;
    height: 32px;
    border-radius: 4px;
}

:host>>>.blockForm .p-dropdown {
    width: 100%;
    height: 34px;
    border-radius: 4px;
}

:host>>>.blockForm .p-dropdown .p-dropdown-label {
    padding-top: 4px;
}