:host>>>.main-sidebar {
    width: 14% !important;
    overflow-y: hidden !important;
    min-width: 150px;
}

:host>>>.sidebar {
    overflow-y: hidden !important;
    position: relative;
    min-height: 100%;
}

:host>>>.main-sidebar>img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}