:host >>> .main-sidebar {
    width: 16% !important;
    overflow-y: hidden !important;
}
:host >>> .sidebar {
    overflow-y: hidden !important;
    position: relative;
    min-height: 100%;
}
:host >>> .main-sidebar > img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}