p {
    width: 100%;
    font: Frutiger;
    color: #898E99;
    margin-bottom: 0px;
}
.message {
    font-size: 46px;
    font-weight: bold;
}
.consigne {
    font-size: 28px;
}
#form {
    width: 60%;
}
.groupText {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 18px;
}
.label {
    font-size: 18px;
}
.input-block {
    background-color: white;
    border: 1px solid #979797;
    border-radius: 10px;
    width: 100%;
    margin: 0px;
    display: inline-block;
    position: relative;
}
:host >>> .input-block > input {
    width: 100%;
    min-height: 43px;
    border-radius: 10px;
    padding-right: 10%;
}
:host >>> .input-block > input.big-input {
    padding-right: 5% !important;
}
:host >>> .p-dropdown {
    width: 100%;
    border: none;
    border-radius: 10px;
}
:host >>> .p-dropdown-trigger {
    display: none;
}
.input-block > img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
}
.validationMessage {
    font-size: 18px;
    color: tomato;
    display: block;
}
#div-btn-valider {
    padding: 0px 1%;
    float: right;
}
#div-btn-retour {
    float: right;
}
:host >>> #div-btn-valider button {
    background-color: #EBA20C;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    width: 155px;
    float: right;
} 
:host >>> #div-btn-valider:hover button {
    background-color: #f5a608;
}
#tbl-timeline {
    min-width: 580px;
}
#tbl-timeline > tr {
    min-width: 580px;
}
#tbl-timeline > tr > td {
    position: relative;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#tbl-timeline > tr > td > img {
    width: 100%;
}
#tbl-timeline > tr > td > label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    color: white;
}