<div>
    <table id="tbl-timeline" class=" mx-auto mt-6 mb-6">
        <tr>
            <td><img src="../../../assets/img/EtapeUnBackground.png" /></td>
            <td><img src="../../../assets/img/EtapeDeuxBackground.png" /></td>
            <td><img src="../../../assets/img/EtapeTroiBackground.png" /></td>
            <td><img src="../../../assets/img/EtapeUnBackground.png" /><label>4</label></td>
            <td><img src="../../../assets/img/EtapeQuatreBackground.png" /></td>
        </tr>
    </table>
    <p class="consigne mt-4 text-center">Dites-nous en plus à propos de votre entreprise pour nous permettre de
        générer</p>
    <p class="consigne text-center">vos factures et devis personnalisés.</p>
    <div id="form" class="mx-auto">

        <p class="groupText text-left">Informations générales</p>
        <div *ngIf="nomEntreuprise">
            <p class="label text-left">Nom de l’entreprise / Raison Sociale *</p>
            <div class="input-block">
                <input class="big-input" type="text" name="NomEntreprise" pInputText
                    [(ngModel)]="model.raisonSociale" />
                <img src="../../../assets/img/IconeEntreprise.png" />
            </div>
            <span class="validationMessage" *ngIf="raisonSocialeRequired">Ce champs est requis ! !</span>
        </div>

        <div *ngIf="nomParticulier">
            <p class="label text-left">Nom et prénom *</p>
            <div class="input-block">
                <input class="big-input" type="text" name="name" pInputText 
                [(ngModel)]="model.raisonSociale" (change)="validatePrenom()" />
                <img src="../../../assets/img/IconePrenom.png" />
            </div>
            <span class="validationMessage" *ngIf="nameRequired">Veuillez saisir votre prénom !</span>
        </div>

        <p class="label text-left">Secteur d’activité *</p>
        <div class="input-block">
            <input class="big-input" type="text" name="SecteurActivite" pInputText [(ngModel)]="model.secteurActivite">
            <img src="../../../assets/img/IconeAdresse.png" />
        </div>

        <p class="groupText text-left">Informations de contact de votre entreprise</p>
        <div class="grid">
            <div class="col-6">
                <p class="label text-left">Adresse *</p>
                <div class="input-block">
                    <input type="text" name="Adresse" pInputText [(ngModel)]="model.adresse">
                    <img src="../../../assets/img/IconeAdresse.png" />
                </div>
            </div>
            <div class="offset-1 col-5">
                <p class="label text-left">Code Postal *</p>
                <div class="input-block">
                    <input type="text" name="CodePostal" pInputText [(ngModel)]="model.codePostal">
                    <img src="../../../assets/img/IconeCodePostal.png" />
                </div>
            </div>
            <div class="col-6">
                <p class="label text-left">Pays *</p>
                <div class="input-block">
                    <!-- <input type="text" name="Pays" pInputText [(ngModel)]="model.pays"> -->
                    <p-dropdown [options]="countries" [(ngModel)]="pays" optionLabel="name" optionValue="isoCode"
                         name="Pays" (click)="countrySelected()"></p-dropdown>
                    <img src="../../../assets/img/IconePays.png" />
                </div>
            </div>
            <div class="offset-1 col-5">
                <p class="label text-left">Ville *</p>
                <div class="input-block">
                    <!-- <input type="text" name="Ville" pInputText [(ngModel)]="model.ville"> -->
                    <p-dropdown [options]="cities" [(ngModel)]="model.ville" optionLabel="name" optionValue="name" name="Ville"></p-dropdown>
                    <img src="../../../assets/img/IconeVille.png" />
                </div>
            </div>
            <div class="col-6">
                <p class="label text-left">Téléphone *</p>
                <div class="input-block">
                    <input type="text" name="Telephone" pInputText [(ngModel)]="model.telephone">
                    <img src="../../../assets/img/IconeTelephone.png" />
                </div>
            </div>
            <div class="offset-1 col-5">
                <p class="label text-left">E-mail *</p>
                <div class="input-block">
                    <input type="text" name="Email" pInputText [(ngModel)]="model.adresseMail">
                    <img src="../../../assets/img/IconeMail.png" />
                </div>
            </div>
        </div>
        <!-- <p class="groupText text-left">Informations administratives</p>
        <div class="grid">
            <div class="col-6">
                <p class="label text-left">Identifiant Commun de l’Entreprise (ICE)</p>
                <div class="input-block">
                    <input type="text" name="ICE" pInputText
                    [(ngModel)]="model.ice">
                    <img src="../../../assets/img/IconeICE.png" />
                </div>
            </div>
            <div class="offset-1 col-5">
                <p class="label text-left">Identifiant Fiscal (IF)</p>
                <div class="input-block">
                    <input type="text" name="IF" pInputText
                    [(ngModel)]="model.if">
                    <img src="../../../assets/img/IconeIF.png" />
                </div>
            </div>
            <div class="col-6">
                <p class="label text-left">Numéro de la Taxe Professionnelle (TP)</p>
                <div class="input-block">
                    <input type="text" name="TP" pInputText
                    [(ngModel)]="model.tp">
                    <img src="../../../assets/img/IconeTP.png" />
                </div>
            </div>
        </div> -->
        <div class="grid">
            <div class="col-12 mt-3 m-5">
                <div id="div-btn-valider" class="p-4">
                    <p-button label="Valider" (click)="save()"></p-button>
                </div>
                <div id="div-btn-valider" class="p-4">
                    <p-button label="Retour" icon="pi pi-arrow-left" (click)="retour()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>