<div class="profilWrapper">
    <p-tabView class="">
        <p-tabPanel header="Informations générales">
            <app-profile-container [componentName]="'GeneralInfos'" [title]="'Informations générales'" [subtitle]="'Ces informations s\'afficheront sur vos devis et factures'">
            </app-profile-container>

        </p-tabPanel>
        <p-tabPanel header="Informations de contact de votre entreprise">
            <app-profile-container [componentName]="'ContactInfos'" [title]="'Informations de contact de votre entreprise'" [subtitle]="'Ces informations s’afficheront sur vos devis et factures'">
            </app-profile-container>
        </p-tabPanel>
        <p-tabPanel header="Informations administratives">
            <app-profile-container [componentName]="'AdministrativeInfos'" [title]="'Informations administratives'" [subtitle]="'Ces informations s’afficheront sur vos devis et factures'">
            </app-profile-container>
        </p-tabPanel>
        <p-tabPanel header="Annotations par défaut">
            <app-profile-container #defaultAnnotations [componentName]="'DefaultAnnotations'" [title]="'Annotations par défaut de vos ' + dynamicTitle" [subtitle]="'Ces informations s’afficheront sur vos ' + dynamicTitle">
            </app-profile-container>
        </p-tabPanel>
    </p-tabView>
</div>