.dashboard-wrapper {
    /* background: #fff; */
   height: calc(100vh - 60px);
   overflow-y: auto;
   overflow-x: hidden;
}

.grid {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.box {
    border-radius: 0.75rem;
}

.color-dashboard {
    color: #5CBCA6;
}

h4 {
    font-weight: normal;
}

:host>>>.p-button:enabled:hover {
    color: #ffffff;
    background: #808A9F !important;
}