<div class="dashboard-wrapper pt-5 mx-3">
    <div class="grid">
        <div class="col-6 ">
            <div class="bg-white py-5 box">
                <app-activity-log></app-activity-log>
            </div>
        </div>

        <div class="col-6 ">
            <div class="bg-white pt-3 box">
                <app-monthly-evolution></app-monthly-evolution>
            </div>
            <div class="my-3"></div>
            <div class="bg-white pt-3 box">
                <app-month-goal-tracking></app-month-goal-tracking>
            </div>
        </div>

        <div class="col-12 mt-2">
            <div class="bg-white py-3 box">
                <app-periodic-tracking></app-periodic-tracking>
            </div>
        </div>

        <div class="col-12 mt-2 ">
            <div class="bg-white py-3 box">
                <app-annual-tracking></app-annual-tracking>
            </div>
        </div>

        <div class="col-12 mt-2 mb-3">
            <div class="py-3">
                <app-total-statistics></app-total-statistics>
            </div>
        </div>
    </div>
</div>

<p-toast [style]="{marginTop: 'marginTop'}" [baseZIndex]="2500" styleClass="styleClass"></p-toast>