<div class="dashboard-wrapper mt-5">
    <div class="grid">
        <div class="col-6">
            <app-activity-log></app-activity-log>
        </div>

        <div class="col-6">
            <app-monthly-evolution></app-monthly-evolution>
            <div class="my-4"></div>
            <app-month-goal-tracking></app-month-goal-tracking>
        </div>

        <div class="col-12">
            <app-periodic-tracking></app-periodic-tracking>
        </div>

        <div class="col-12 mt-3">
            <app-annual-tracking></app-annual-tracking>
        </div>

        <div class="col-12 mt-3">
            <app-total-statistics></app-total-statistics>
        </div>
    </div>
</div>

<p-toast [style]="{marginTop: 'marginTop'}" [baseZIndex]="2500" styleClass="styleClass"></p-toast>