.dashboard-wrapper {
    background: #fff;
    min-height: calc(100vh - 60px);
}

.grid {
    gap: 0;
}

.color-dashboard {
    color: #5CBCA6;
}

h4 {
    font-weight: normal;
}

:host>>>.p-button:enabled:hover {
    color: #ffffff;
    background: #808A9F !important;
}