<div id="contentToConvert" #pdfTable [ngClass]="{'html2canvas': this.printingMode}">
    <div class="content pt-4">
        <div class="grid px-1">
            <div class="col-5 pt-1">
                <img *ngIf="logoSrc" [src]="logoSrc" class="h-100" alt="">
            </div>
            <div class="col-7 text-right">
                <h2>{{title + ' ' + (item && item.reference)}}
                </h2>
                <span class="date block line-height-1">Date d'émission: {{item && item.dateEmission | date:'shortDate'}}
                </span>
                <span class="date block line-height-1">
                    Date d'échéance:
                    {{item && getDateEcheance(item.dateEmission, item.echeancePaiement) | date:'shortDate'}}
                </span>
            </div>
        </div>
        <div class="grid px-2 pt-3">
            <div class="col-8 flex flex-column">
                <span class="color-gray">Pour:</span>
                <span>{{item && item.client && item.client.displayName}}</span>
                <span>{{item && item.client && item.client.adresse}}</span>
                <span>{{item && item.client && item.client.ville}}
                    {{item && item.client && item.client.codePostal}}</span>
                <span>{{item && item.client && item.client.pays}}</span>
                <span class="mt-3">{{item && item.client && item.client.telPortable}}</span>
            </div>
            <div class="col-4 flex flex-column">
                <span class="block color-gray">De</span>
                    <span class="word-wrap-break">{{item && getEntrepriseName}}</span>
                    <span>{{item && infosEntreprise.adresse}}</span>
                    <span>{{item && infosEntreprise.ville}}
                        {{item && infosEntreprise.codePostal}}</span>
                    <span>{{item && infosEntreprise.pays}}</span>
                    <span class="mt-3">{{item && infosEntreprise.telephone}}</span>
            </div>
        </div>
    </div>

    <div id="pageHeader" class="mt-1 ml-4">
        <span class='font-semibold'>Objet: </span> {{this.item && this.item.messageIntroduction || ''}}
    </div>

    <p-table [columns]="contentItemsCols" [value]="item && (item.devisItems || item.factureItems)">
        <ng-template pTemplate="header" let-yourColumnArrayVaraible>
            <tr>
                <ng-container *ngFor="let colVar of yourColumnArrayVaraible">
                    <th [colSpan]="colVar.colspan">
                        {{colVar.header}}
                    </th>
                </ng-container>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-yourRowVaraible let-yourColumnArrayVaraible="columns">
            <tr>
                <ng-container *ngFor="let colVar of yourColumnArrayVaraible">
                    <ng-container [ngSwitch]="colVar.type">
                        <ng-container *ngSwitchCase="'date'">
                            <td [colSpan]="colVar.colspan">
                                {{yourRowVaraible[colVar.field] | date:'shortDate'}}
                            </td>
                        </ng-container>
                        <ng-container *ngSwitchCase="'currency'">
                            <td [colSpan]="colVar.colspan" mode="decimal">
                                {{yourRowVaraible[colVar.field] | number:'1.2-2' }} <!-- {{' ' + (item && item.currency)}} -->
                            </td>
                        </ng-container>
                        <ng-container *ngSwitchCase="'pourcentage'">
                            <td [colSpan]="colVar.colspan">
                                {{yourRowVaraible[colVar.field] + '%'}}
                            </td>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <td [colSpan]="colVar.colspan">
                                {{yourRowVaraible[colVar.field]}}
                            </td>
                        </ng-container>

                    </ng-container>

                </ng-container>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-yourColumnArrayVaraible>

            <div class="grid">
                <div class="col-md-7">
                    <span>MONTANT TOTAL HT</span>
                </div>
                <div class="col-xl-5">
                    <span>{{this.summaryTotalHT | number:'1.2-2' }}
                        {{' ' + (item && item.currency)}}</span>
                </div>
            </div>

            <div class="grid">
                <div class="col-7">
                    <span>REMISE</span>
                </div>
                <div class="col-5">
                    <span>{{(item ?  this.remiseAmount : 0) | number:'1.2-2' }}
                        {{' ' + (item && item.currency)}}</span>
                </div>
            </div>

            <div class="grid ">
                <div class="col-md-7">
                    <span>TVA</span>
                </div>
                <div class="col-md-5">
                    <span>{{this.summaryTVA | number:'1.2-2' }}
                        {{' ' + (item && item.currency)}}</span>
                </div>
            </div>

            <hr>

            <div class="grid">
                <div class="col-md-7">
                    <span>TOTAL ESTIME TTC</span>
                </div>
                <div class="col-md-5">
                    <span>{{(item ? this.item.montantTtc : 0) | number:'1.2-2' }}
                        {{' ' + (item && item.currency)}}</span>
                </div>
            </div>
        </ng-template>
    </p-table>

    <div id="pageFooter" class="mt-6 m-auto text-center w-5">
        <span>{{ this.item && this.item.piedDePage || '' }}</span>
    </div>
</div>
