/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Frutiger';
    font-style: normal;
    font-weight: normal;
    src: local('Frutiger'), url('assets/fonts/Frutiger.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Frutiger Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Frutiger Bold'), url('assets/fonts/Frutiger_bold.woff') format('woff');
    }
    
:root {
    --green-color: #0D6939;
    --orange-color: #EBA20C;
    --bg-color: #F1F6FF;
    --gray-color: #9A9FA8;
    --light-gray-color: #DDDDDD;
    --purple-color: #5D3D7D;
}

.w-57 {
    width: 57%;
}

.w-43 {
    width: 43%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.positon-relative {
    position: relative;
}

:host ::ng-deep .p-datatable-footer hr {
    width: 65%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1.1rem;
    border-color: var(--light-gray-color);
    border-style: solid;
}


/* Colors and Backgrounds */

.color-green {
    color: var(--green-color) !important;
}

.color-gray {
    color: var(--gray-color) !important;
}

.color-light-gray {
    color: var(--light-gray-color) !important;
}

.color-orange {
    color: var(--orange-color) !important;
}

.bg-green {
    background-color: var(--green-color) !important;
}

.color-light-green {
    background-color: #4C9D8A !important;
}

.bg-orange {
    background-color: var(--orange-color) !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-turquoise {
    background-color: #4C9D8A !important;
}

.bg-purple {
    background-color: var(--purple-color) !important;
}