/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Frutiger';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Frutiger.ttf') format('truetype');
}

@font-face {
    font-family: 'Frutiger Bold';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Frutiger_bold.ttf') format('truetype');
}

.font-frutiger {
    font-family: 'Frutiger' !important;
}

.font-frutiger-bold {
    font-family: 'Frutiger Bold' !important;
}

:root {
    --green-color: #0D6939;
    --light-green-color: #C3EAD6;
    --orange-color: #EBA20C;
    --light-orange-color: #F2E4C8;
    --light-orangee-color: #e6d6b8;
    --light-yello-color: #e4e49d;
    --bg-color: #F1F6FF;
    --gray-color: #9A9FA8;
    --light-gray-color: #DDDDDD;
    --purple-color: #5D3D7D;
    --light-purple-color: #DDD7E3;
    --dark-orange-color: #EF790D;
    --blue-color: #2A95D1;
    --dashboard-color: #5CBCA6;
    --red : #ff0000;
    --light-red : #ffbebe;
    --light-yellow-color: #fff6a9;
    --border-radius: .4rem;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.positon-relative {
    position: relative;
}


/* Colors and Backgrounds */

.color-white {
    color: #fff !important;
}
.color-black {
    color: #131313 !important;
}
.color-green {
    color: var(--green-color) !important;
}

.color-gray {
    color: var(--gray-color) !important;
}

.color-light-gray {
    color: var(--light-gray-color) !important;
}

.color-orange {
    color: var(--orange-color) !important;
}

.color-purple {
    color: var(--purple-color) !important;
}

.color-dark-orange {
    color: var(--dark-orange-color) !important;
}

.color-blue {
    color: var(--blue-color) !important;
}

.color-dashboard {
    color: #5CBCA6 !important;
}

.bg-green {
    background-color: var(--green-color) !important;
}

.bg-secondary-green {
    background-color: #58BBA4 !important;
}

.bg-orange {
    background-color: var(--orange-color) !important;
    color: #fff !important;
}

.bg-light-grayorange {
    background-color: var(--light-orange-color) !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-turquoise {
    background-color: #4C9D8A !important;
}

.bg-purple {
    background-color: var(--purple-color) !important;
}

.bg-dark-orange {
    background-color: var(--dark-orange-color) !important;
}

.bg-blue {
    background-color: var(--blue-color) !important;
}

.bg-dashboard {
    background: var(--dashboard-color) !important;
}

.p-dropdown .pi.pi-chevron-down:before {
    content: ""
}

.p-dropdown .p-dropdown-trigger-icon {
    border: 7px solid #fff;
    border-top: 8px solid #7d86a9;
    margin-top: 8px;
}

.vertical-baseline {
    vertical-align: baseline;
}

.submitted .ng-invalid:not(form,
div,
tr) {
    border: 1px red solid !important;
}

.p-datatable .p-datatable-thead>tr>th i.pi-sort-alt.p-sortable-column-icon {
    display: none;
}

.red-color {
    color: var(--red);
}

.word-wrap-break {
    word-break: break-all;
}

.extra-bold {
    font-weight:800 !important;
}

.invalid-control{
    color: var(--red);
    font-size:12px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2px grey;  */
    background:transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dashboard-color); 
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #33806e; 
  }

  .swalTitle{
    color: var(--dashboard-color) !important;
  }

  .timerProgressBar{
    background-color: #4C9D8A !important;
    color: #4C9D8A !important;
  }
  .swal2-timer-progress-bar {
    width: 100%;
    height: 0.3em;
    background-color: #4C9D8A !important;

    }
  .swalContainer{
    width:400px !important;
  }

  .p-component-overlay {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  .p-menu{
    width: 180px !important;
  }