/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Frutiger';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Frutiger.ttf') format('truetype');
}

@font-face {
    font-family: 'Frutiger Bold';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Frutiger_bold.ttf') format('truetype');
}

.font-frutiger {
    font-family: 'Frutiger' !important;
}

.font-frutiger-bold {
    font-family: 'Frutiger Bold' !important;
}

:root {
    --green-color: #0D6939;
    --light-green-color: #C3EAD6;
    --orange-color: #EBA20C;
    --light-orange-color: #F2E4C8;
    --bg-color: #F1F6FF;
    --gray-color: #9A9FA8;
    --light-gray-color: #DDDDDD;
    --purple-color: #5D3D7D;
    --light-purple-color: #DDD7E3;
    --dark-orange-color: #EF790D;
    --blue-color: #2A95D1;
    --dashboard-color: #5CBCA6;
    --border-radius: .4rem;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.positon-relative {
    position: relative;
}


/* Colors and Backgrounds */

.color-white {
    color: #fff !important;
}

.color-green {
    color: var(--green-color) !important;
}

.color-gray {
    color: var(--gray-color) !important;
}

.color-light-gray {
    color: var(--light-gray-color) !important;
}

.color-orange {
    color: var(--orange-color) !important;
}

.color-purple {
    color: var(--purple-color) !important;
}

.color-dark-orange {
    color: var(--dark-orange-color) !important;
}

.color-blue {
    color: var(--blue-color) !important;
}

.color-dashboard {
    color: #5CBCA6 !important;
}

.bg-green {
    background-color: var(--green-color) !important;
}

.bg-secondary-green {
    background-color: #58BBA4 !important;
}

.bg-orange {
    background-color: var(--orange-color) !important;
    color: #fff !important;
}

.bg-light-grayorange {
    background-color: var(--light-orange-color) !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-turquoise {
    background-color: #4C9D8A !important;
}

.bg-purple {
    background-color: var(--purple-color) !important;
}

.bg-dark-orange {
    background-color: var(--dark-orange-color) !important;
}

.bg-blue {
    background-color: var(--blue-color) !important;
}

.bg-dashboard {
    background: var(--dashboard-color) !important;
}

.p-dropdown .pi.pi-chevron-down:before {
    content: ""
}

.p-dropdown .p-dropdown-trigger-icon {
    border: 7px solid #fff;
    border-top: 8px solid #7d86a9;
    margin-top: 8px;
}

.vertical-baseline {
    vertical-align: baseline;
}

.submitted .ng-invalid:not(form,
div,
tr) {
    border: 1px red solid !important;
}

.p-datatable .p-datatable-thead>tr>th i.pi-sort-alt.p-sortable-column-icon {
    display: none;
}

.red-color {
    color: red !important;
}

.word-wrap-break {
    word-break: break-all;
}